.btn{
    padding: 10px 20px;
    background: lightcoral;
    color: #fff;
    
}
a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    height: 6px;
    width: 100%;
    background: #4070f4;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform 0.2s linear;
}
a:hover::before{
    transform: scalex(1);
}