.box{
    background: green;
    height: 200px;
    width: 300px;
    border: 1px solid red;
    margin-bottom: 10px;
    
}
.box1, .box2, .box3{
    background: red;
    height: 200px;
    width: 300px;
    margin-top: 50px;
    transform: rotate(20deg) scale(0.5);
}